<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" type=text/css href="/static/style.css">
    <script src="/static/as.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>{% block title %}   {% endblock title %}

    </title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="books" class="navbar-brand mt-2 mb-2 mx-auto">
                <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 250%;">
                    Book Recomendation System</p>
            </a>
            <form class="d-flex" action="/interestbased" method="get">
                <input class="form-control me-1" type="search" name="u_search" placeholder="Search books"
                    aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="conr" ;>
        <div class="col1">
            <div class="row">
                <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;color: white;"> &emsp;<b>Genre</b></p>
                <div class="row1 ">
                    <form class="d-grid-dark" action="/biography" method="get">
                        <button class="btn btn-outline-white btn-block" type="submit"
                            style="color: whitesmoke;">Biography</button>
                    </form>
                </div>
                <div class="row2">
                    <form class="d-flex-dark" action="/drama" method="get">
                        <button class="btn btn-outline-white" type="submit" style="color: whitesmoke;">Drama</button>
                    </form>
                </div>
                <div class="row3">
                    <form class="d-flex-dark" action="/fantasy" method="get">
                        <button class="btn btn-outline-white" type="submit" style="color: whitesmoke;">Fantasy</button>
                    </form>
                </div>
                <div class="row4">
                    <form class="d-flex-dark" action="/fiction" method="get">
                        <button class="btn btn-outline-white" type="submit" style="color: whitesmoke;">Fiction</button>
                    </form>
                </div>
                <div class="row5">
                    <form class="d-flex-dark" action="/romance" method="get">
                        <button class="btn btn-outline-white" type="submit" style="color: whitesmoke;">Romance</button>
                    </form>
                </div>
                <div class="row6">
                    <form class="d-flex-dark" action="/scifi" method="get">
                        <button class="btn btn-outline-white" type="submit" style="color: whitesmoke;">Sci-fi</button>
                    </form>
                </div>
                <div class="row7">
                    <form class="d-flex-dark" action="/thriller" method="get">
                        <button class="btn btn-block btn-outline-white" type="submit"style="color: whitesmoke;">Thriller</button>
                    </form>
                </div>

            </div>
        </div>
        <div class="col2">
            
            {% block body %}
              
            {% endblock body %}
            
            
           
         

        </div>
    </div>
    





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>

</html>