{% extends "base.html" %}
{% block title %}
books
{% endblock title %}
{% block body %}
<form class="d-flex-dark">
  <input class="form-control me-1" size="100%" type="text" id="recomend" name="search" placeholder="Search books"
    aria-label="Search"><br>

  <input type="button" style="border-color:white;" value="Content" onclick="cosin()">
  <input type="button" style="border-color:white;" value="Collaborative" onclick="pearson()">
</form>
<script>
  function cosin() {

      var goc = document.getElementById("recomend").value;

      window.location.assign("/cossim?" + "search=" + goc)

  }
  function pearson() {
      var goc = document.getElementById("recomend").value;
      window.location.assign("/pearson?" + "search=" + goc)

  }
</script>






{% endblock body %}