{% extends "base.html" %}
{% block title %}
  Sci-fi
{% endblock title %}
{% block body %}
<div class="container"> 
  <h2 class="text-center fst-italic fs-5 lh-lg"><u>Sci-Fi</u></h2><br>             
  <table class="table table-dark table-striped"> 
    <thead> 
      <tr> 
        <th>Book_ID</th> 
        <th>Title</th> 
        <th>Authors</th> 
      </tr> 
    </thead> 
    <tbody> 
    <!-- jinja2 Technique -->
    {% if d %}   
    {% for i in d %} 
      <tr> 
        <td>{{i.book_id}}</td> 
        <td>{{i.title}}</td> 
        <td>{{i.authors}}</td> 
       </tr> 
    {% endfor %} 
    {% endif %} 
    </tbody> 
  </table> 
</div>   
{% endblock body %}