*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.conr{
    display: grid;
    grid-template-columns: 20% 80%;
    height:90vh;
    margin: 0;
    padding:0;
    /* border: black solid 5px; */
    
}
.col1{
    background-color: antiquewhite;
    margin: 0;
    padding:0;
    /* border:red solid 5px; */
    /* border-radius: 50px; */
    
   
}
.row{
    font-size: 25px;
    width: auto;
    /* border-radius: 20px ; */
    /* border: rosybrown 5px solid; */
    margin: 0;
    padding: 0;
}
.col2{
    /* background-color: aqua; */
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
